@page "/"

<PageTitle>Index</PageTitle>

@if (Events == null)
{
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">Loading...</span>
}
else
{
    @*<AuthorizeView Roles="Admin">*@
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.End" Wrap="FlexWrap.Wrap">
            <RadzenButton Click="CreateEventClicked" Text="Créer évènement" />
        </RadzenStack>
    @*</AuthorizeView>*@
    <RadzenRow class="rz-text-align-center" Gap="1rem">
        @foreach (var evt in Events)
        {
            <RadzenColumn>
                @*<div Class="rz-p-0 rz-p-md-12">*@
                <RadzenCard Variant="Variant.Filled" Class="rz-my-12 rz-mx-auto rz-p-0"
                    Style="max-width: 420px; cursor: pointer;">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                        <RadzenImage @onclick="() => EventClicked(evt.Id)" Path="@evt.Visuel" Style="width: 100px; height: 100px; border-radius: 50%;" />
                        <RadzenStack @onclick="() => EventClicked(evt.Id)" Gap="0">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0">Evènement</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@evt.Titre</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Description</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@evt.Description</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Date de Début</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@evt.DateDebut</b></RadzenText>
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-4 rz-mb-0">Date de Fin</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1"><b>@evt.DateFin</b></RadzenText>
                        </RadzenStack>
                        <RadzenStack>
                            <RadzenIcon Icon="delete" @onclick="() => DeleteEventClicked(evt.Id)" />
                            <RadzenIcon Icon="edit_square" @onclick="() => UpdateEventClicked(evt)" />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
                @*</div>*@
            </RadzenColumn>
        }
    </RadzenRow>
}
